body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #35424a;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container button{
  background-color: #b8b8b8;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  outline: none;
  margin: 20px 0;
  padding: 4px 20px;
}

footer {
  background-color: #35424a;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}